<div class='card' style='width: 18rem;'>
  <img src='./img/{{type}}-ph.jpg' class='card-img-top' alt='...' />
  <div class='card-body'>
    <ul class='list-group list-group-flush'>
      <li class='list-group-item'>{{size}}</li>
      <li class='list-group-item'>{{tone}}</li>
      <li class='list-group-item'>{{material}}</li>
      <li class='list-group-item'>{{brand}}</li>
    </ul>
  </div>
</div>